<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>此处显示新 Div 标签的内容</div>
<form action="/upload" method="post" enctype="multipart/form-data" name="form1" ><!--提交地址-->
<!-- 表单需要enctype="multipart/form-data" 才能上传-->
  <label for="fileField">File:</label>
  <input type="file" name="files" id="fileField">
  <input type="file" name="files" id="fileField1">
  <input type="file" name="files" id="fileField2">
   <input type="file" name="files" id="fileField3">
  <input type="submit" name="button" id="button" value="提交">
</form>
</body>
</html>